/* App Start*/
.container
{
  padding-top: 2rem;
  padding-bottom: 4rem;
}

ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}

li
{
  color: #333333;
  white-space: nowrap;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

a
{
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6
{
  font-family: 'Markazi Text', serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

p
{
  font-family: 'Karla', sans-serif;
  line-height: 1.5em;
}

h1
{
  font-size: 4em;
}

.h1Yellow
{
  color: #f4ce14;
  font-size: 4em;
}

.h1Black
{
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 4em;
}

h2
{
  font-size: 35px;
  font-weight: 500;
}

h3
{
  font-size: 2em;
}

.h3white
{
  color: #edefee;
  font-size: 2em;
}

h4
{
  font-size: 30px;
}

article
{
  margin-bottom: 5vh;
}

.button
{
  text-align: center;
  font-family: 'Karla', sans-serif;
  background-color: #f4ce14;
  border-radius: 2em;
  box-shadow: 3px 3px 15px rgba(0,0,0,.2);
  padding: 1em;
}
/* App end */

/* Nav start */
.navBar
{
  display: flex;
  gap: 2vw;
}

@media (max-width: 768px)
{
  .navBar
  {
    text-align: center;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
/* Nav end */

/* Header start */
.header
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  margin-bottom: 3rem;
}

.logo
{
  width: 20%;
  height: auto;
}

@media (max-width: 768px)
{
  .header
  {
    display: grid;
    grid-template-rows: 30vh 10vh;
    align-items: center;
    justify-items: center;
  }

  .logo
  {
    width: 60%;
    height: auto;
  }
}
/* Header end */

/* Main start */
  /* Hero start */
.hero
{
  background-color: #495e57;
  padding-bottom: 5rem;
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.hero .heroImg
{
  width: auto;
  height: 20rem;
  border-radius: 16px;
}

.description p
{
  color: #edefee;
  font-size: 1.3em;
  max-width: 25ch;
  margin-bottom: 5rem;
}

@media (max-width: 768px)
{
  .hero .heroImg
  {
    display: none;
  }

  .hero 
  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    text-align: center;
  }
}
  /* Hero end */

  /* Highlights start */
  .specials
  {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .heading
  {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .cardList
  {
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 1fr;
    gap: 5rem 5rem;
    justify-items: center;
    align-items: center;
    padding: 0;
    margin-top: 5rem;
  }

  .card
  {
    width: 18rem;
    height: 33rem;
    margin: 0;
    background-color: #edefee;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
  }

  .cardImg
  {
    width: 18rem;
    height: 14rem;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
  }

  .cardBody
  {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .order
  {
    font-weight: 500;
    font-size: 20px;
  }
  /* Highlights end */

  /* Testimonials start */
  .testimonials
  {
    background-color: #495e57;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .testimonies
  {
    margin-top: 4rem;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    justify-items: center;
    align-items: center;
  }

  .star
  {
    width: 10%;
    height: auto;
  }

  .personPic
  {
    width: 40%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .testimony
  {
    text-align: center;
    background-color: white;
    width: 18rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  /* Testimonials end */

  /* About start */
  .about
  {
    padding-bottom: 5rem;
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .about p
  {
    max-width: 60ch;
  }

  .image1
  {
    width: auto;
    height: 20rem;
  }

  @media (max-width: 1300px)
  {
    .image1
    {
      display: none;
    }

    .about .content
    {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
  /* About end */
/* Main end */

/* Footer start */
.footer
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: top;
}

@media (max-width: 600px) 
{
  .footer {
    grid-template-columns: 1fr;
    gap: 10vh;
    justify-items: center;
    align-items: center;
    text-align: center;
  }

  .footer  h2
  {
    margin-bottom: 5vh;
  }
}
/* Footer end */